html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  background-color: #2B2B2B;
}

canvas#game-window{
  border: 1px dashed black;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}