@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);

*{
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
}

.header{
  width: 100%;
  padding: .5em;
  background-color: #F5F5F5;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

h1{
  font-family: 'Dosis', sans-serif;
  font-size: 2em;
  margin: auto;
  text-align: center;
  color: #445f13;
}

h2{
  font-family: 'Dosis', sans-serif;
  font-size: 1.5em;
  color: #445f13;
}

h3{
  font-family: 'Courier', sans-serif;
  color: #445f13;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
  text-indent: 2em;
}

.content{
  background-color: #FDFDFD;
  margin: 8px;
}

.function{
  margin-left: 1.5em;
  background-color: #F5F5F5;
  padding: .5em;
  border: 1px solid #b7d87d;
  margin-bottom: 1em;
  
}

code{
  width: 100%;
  margin-left: 2em;
}

.header{
  height: 300px;
  width: 100%;
  background-color: #b7d87d;
  justify-content: center;
}

.snapdragon{
  background: url("/images/logos/herblore.svg");
}

.header>.snapdragon{
  height: 250px;
  width: 250px;
  background-size: 250px 250px;
  margin: auto;
}